### サンプルの例

In [12]:
import pandas as pd
import numpy as np
from mondrian import mondrian

In [4]:
df = pd.read_csv("adult.csv")
k=3

In [13]:
df_list = df.to_numpy().tolist()

In [14]:
result, eval_r = mondrian(df_list, k)

In [15]:
result_df = pd.DataFrame(result)

In [16]:
result_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,19~22,4,39432~62419,11,9,2,3,0,4,1,0,0,35~40,39,1.0
1,19~22,4,39432~62419,11,9,2,3,0,4,1,0,0,35~40,39,1.0
2,19~22,4,39432~62419,11,9,2,3,0,4,1,0,0,35~40,39,1.0
3,18~22,4,83704~115443,1~11,7~9,2,3,0,4,1,0,0,35~40,39,1.0
4,18~22,4,83704~115443,1~11,7~9,2,3,0,4,1,0,0,35~40,39,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,38~62,5~7,210150~285692,12~14,14~15,3~6,11~12,1,4,0,0,0,20~45,39,1.0
48838,38~62,5~7,210150~285692,12~14,14~15,3~6,11~12,1,4,0,0,0,20~45,39,1.0
48839,39~75,6,183081~356067,12,14,4~6,12,1,4,1,0,0,16~60,39,1.0
48840,39~75,6,183081~356067,12,14,4~6,12,1,4,1,0,0,16~60,39,1.0
48841,39~75,6,183081~356067,12,14,4~6,12,1,4,1,0,0,16~60,39,0.0

In [10]:
result_df.to_csv("result.csv", index=False)